@media only screen and (max-width: 768px) {
   .my-row{
     margin-left:50px;
   }
   .bt{
       margin-top:20px;
   }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
}
.navbar-brand,.nav-item{
	color: white !important;
}
.navbar{
	background-color: #383838 !important;
	

}

.img{
   
    height:300px;
}


#banner{
	background-color: red;
	width: auto;
	height: 500px;
	background: url("../images/header4.jpeg");
	background-size: cover;
}
#cart-button{
	background-color: #2B1D14;
	border-radius: 20px;
	font-size: 17px;
}

  .cart-badge{
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }

#info{
	text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -5rem;
    position: relative;
    background-color: #383838;
    color: white;
    border-radius: 14px;
    padding: 1rem;
}

#head-section{
	text-align: center;
    width: 90%;
    margin: auto;
    position: relative;
    padding: 1rem;
    margin-top: 40px;
}

#head-section .header{
	font-family: "Courgette",cursive;
}

.drinks{
	margin-top: 30px;
}

.card-img-top{
	width: 80%;
	height: auto;
	 margin: 0 auto;

}

.card{
	text-align: center;
	margin: auto;
    position: relative;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#button{
	 line-height: 12px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
     background-color: #383838;
     color: white;
     width: 70px;
     height: 38px;
     font-size: 17px;
     padding: 10px;
    text-decoration: none;
}

#price{
	color: #383838;
	font-size: 20px;
}

footer{
    position: absolute;
    background: #383838;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    margin-top: 200px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #383838;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}


